@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-image: url("../images/low-poly-grid-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.btn-hamburguer{
    position: relative;
    background-color: transparent;
    border: 0;
    color: #FFF;
    .hamburguer{
        font-size: 40px;
        position: absolute;
    }
    z-index: 7;
}
.side-bar{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.86);
    top: 0;
    a{
        color: #FFF;
        display: block;
        min-width: 250px;
        text-align: center;
        text-decoration: none;
        margin: 30px 0;
    }    
}
.card-login, .card-section{
    width: 40vw;
    min-width: min-content;
    background-color: #FFF;
    border-radius: 21px;
    box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.6);
    padding: 60px 50px;
    text-align: center;
    margin-top: 10%;
    h1{
        font-weight: 600;
    }
    h4{
        font-weight: bold;
        color: #757070;
    }
    .input-login, .input-pag{
        background-color: #5f5f5f;
        color: #FFF;
        &:focus{
            border: #252525;
            box-shadow: 0 0 0 0.25rem #25252540;
        }
    }
    select {
        background-color: #D1D1D1;
        color: #252525;
        border: #252525 solid 1px;
        margin-right: 10px;
        &:focus{
            border: #000000;
            box-shadow: 0 0 0 0.15rem #2525258a;
        }
    }
    label{
        color: rgba(255, 255, 255, 0.81);
        font-weight: bold;
    }
    button{
        //width: 100%;
        font-weight: bold;
        font-size: 18px;
    }
    
}
.card-section{
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    #table-extrato{
        margin-top: 16px;
    }
}


.titulo-section{
    font-size: 32px;
    color: #FFF;
    -webkit-text-stroke: 1px #2525257e;
    text-align: center;
    margin-top: 8%;    
}
