@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-image: url("../images/low-poly-grid-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}
main{
    h1{
        padding-top: 10%;
    }
}
.btn-hamburguer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 0;
    color: #FFF;
    .hamburguer{
        font-size: 40px;
        position: absolute;
    }
    z-index: 1;
}
.side-bar{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.86);
    top: 0;
    a{
        color: #FFF;
        display: block;
        min-width: 250px;
        text-align: center;
        text-decoration: none;
        margin: 30px 0;
    }    
}
.card-login, .card-section{
    width: 40vw;
    min-width: min-content;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.6);
    padding: 60px 50px;
    text-align: center;
    h1{
        font-weight: 600;
    }
    h4{
        font-weight: bold;
        color: #757070;
    }
    .input-login, .input-pag{
        background-color: #5f5f5f;
        color: #FFF;
        height: 48px;
        border-color: #2c2c2c;
        &:focus{
            border: #252525;
            box-shadow: 0 0 0 0.25rem #25252540;
        }
    }
    label{
        padding: 10px;
        font-size: 1.1rem;
        color: rgba(255, 255, 255, 0.81);
        font-weight: bold;
    }
    select {
        background-color: #D1D1D1;
        color: #252525;
        border: #252525 solid 1px;
        &:focus{
            border: #000000;
            box-shadow: 0 0 0 0.15rem #2525258a;
        }
    }
    button{
        width: 100%;
        height: 45px;
        font-weight: bold;
        font-size: 18px;
    }   
}
.card-section{
    margin-top: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    #table-extrato{
        margin-top: 16px;
        th{
            background-color: #2590F0;
            color: #FFF;
            border: 0;
        }
        td{
            background-color: #d3ece6;
            font-weight: bold;
            border: 0;
            max-width: 20%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .select-extrato{
        margin: auto;
        &> div{
            padding-inline: 2px;
        }
    }
    tbody{
        vertical-align: middle;
    }    
    hr{
        width: 102%;
        transform: translateX(-1%);
        opacity: 1;
        border-top: 1px solid #252525;
        margin-bottom: 10px;
    } 
    #detalhes-pagamento{
        font-size: 20px;
        white-space: nowrap;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        h2{
            font-weight: bold;
        }
        p{
            margin-bottom: 0px;
            strong{
                font-weight: bolder;
            }
        }
        :nth-child(5){
            margin-bottom: 12px;
        }
        span{
            color: #6B6B6B;
        }
    }
    .confirma-pagamento{
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        span{
            font-size: 1rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .box-valor-desejado{
        text-align: center;
        h2{
            font-weight: bold;
            font-size: 2rem;
        }
        label{
            color: #279500;
            font-size: 1.7rem;
        }
        input[type=range]{
            margin: 3px 0;
            &::-webkit-slider-runnable-track{
                height: 5px;
                background: #000000;
            }
            &::-webkit-slider-thumb {
                box-shadow: 0px 0px 0px #000000;
                height: 20px;
                width: 20px;
                background: #000000;
                margin-top: -7.5px;
            }
        }
    }
    span{
        color: #4C4C4C;
        font-weight: bold;
        font-size: 18px;
    }
    p{
        color: #252525;
        font-weight: bold;
        font-size: 20px;
    }
    
}
.inputs-pagamentos{
    select{
        height: 48px;
    }
    &>div{
        padding-inline: 5px;
        min-width: 150px;
    }
}

.titulo-section{
    font-size: 32px;
    color: #FFF;
    -webkit-text-stroke: 1px #2525257e;
    text-align: center;
}


  
