@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-image: url("../images/low-poly-grid-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.btn-hamburguer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 0;
  color: #FFF;
  z-index: 1;
}
.btn-hamburguer .hamburguer {
  font-size: 40px;
  position: absolute;
}

.side-bar {
  font-family: "Inter", sans-serif;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.86);
  top: 0;
}
.side-bar a {
  color: #FFF;
  display: block;
  min-width: 250px;
  text-align: center;
  text-decoration: none;
  margin: 30px 0;
}

.card-login, .card-section {
  width: 40vw;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.6);
  padding: 60px 50px;
  text-align: center;
}
.card-login h1, .card-section h1 {
  font-weight: 600;
}
.card-login h4, .card-section h4 {
  font-weight: bold;
  color: #757070;
}
.card-login .input-login, .card-login .input-pag, .card-section .input-login, .card-section .input-pag {
  background-color: #5f5f5f;
  color: #FFF;
  height: 48px;
  border-color: #2c2c2c;
}
.card-login .input-login:focus, .card-login .input-pag:focus, .card-section .input-login:focus, .card-section .input-pag:focus {
  border: #252525;
  box-shadow: 0 0 0 0.25rem rgba(37, 37, 37, 0.2509803922);
}
.card-login label, .card-section label {
  padding: 10px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.81);
  font-weight: bold;
}
.card-login select, .card-section select {
  background-color: #D1D1D1;
  color: #252525;
  border: #252525 solid 1px;
}
.card-login select:focus, .card-section select:focus {
  border: #000000;
  box-shadow: 0 0 0 0.15rem rgba(37, 37, 37, 0.5411764706);
}
.card-login button, .card-section button {
  width: 100%;
  height: 45px;
  font-weight: bold;
  font-size: 18px;
}

.card-section {
  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}
.card-section #table-extrato {
  margin-top: 16px;
}
.card-section #table-extrato th {
  background-color: #2590F0;
  color: #FFF;
  border: 0;
}
.card-section #table-extrato td {
  background-color: #d3ece6;
  font-weight: bold;
  border: 0;
  max-width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-section .select-extrato {
  margin: auto;
}
.card-section .select-extrato > div {
  padding-inline: 2px;
}
.card-section tbody {
  vertical-align: middle;
}
.card-section hr {
  width: 102%;
  transform: translateX(-1%);
  opacity: 1;
  border-top: 1px solid #252525;
  margin-bottom: 10px;
}
.card-section #detalhes-pagamento {
  font-size: 20px;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-section #detalhes-pagamento h2 {
  font-weight: bold;
}
.card-section #detalhes-pagamento p {
  margin-bottom: 0px;
}
.card-section #detalhes-pagamento p strong {
  font-weight: bolder;
}
.card-section #detalhes-pagamento :nth-child(5) {
  margin-bottom: 12px;
}
.card-section #detalhes-pagamento span {
  color: #6B6B6B;
}
.card-section .confirma-pagamento {
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.card-section .confirma-pagamento span {
  font-size: 1rem;
}
.card-section .confirma-pagamento p {
  font-size: 1.5rem;
}

.inputs-pagamentos select {
  height: 48px;
}
.inputs-pagamentos > div {
  padding-inline: 5px;
  min-width: 150px;
}

.titulo-section {
  font-size: 32px;
  color: #FFF;
  -webkit-text-stroke: 1px rgba(37, 37, 37, 0.4941176471);
  text-align: center;
}/*# sourceMappingURL=style.css.map */